@import url('./main-layout.css');
@import url('./views/my-view-view.css');
@import url('./views/jugadores-view.css');
@import url('./views/nombres-jugadores-view.css');    html {
      --lumo-primary-color: hsl(214, 96%, 43%);
      --lumo-primary-color-50pct: hsla(214, 96%, 43%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 96%, 43%, 0.1);

    }
